<tr>
	<td>{{name}}</td>
	<td><a href={{show_delete}}>Show</a></td>
	<td><a href={{edit}}>Edit</a></td>
	<td><a data-confirm="Are you sure?" data-method="delete" href={{show_delete}} rel="nofollow">Destroy</a></td>
</tr>